html{
  --nunito: 'Nunito', sans-serif;
  --header-font-size: 64px;
  --other-font-size: 48px;
}

*{
  box-sizing: border-box;
}

body{
  background: #101117;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mate{
  color: aqua;
}

.hero{
  padding: 40vh 0;
  font-family: var(--nunito);
  font-size: var(--header-font-size);
  color: #FFFFFF;
  text-align: center;
}

.main{
  display: grid;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 8px 15rem 8px;
}

.footer{
  background-color: #ff8066;
}

.sticky-follow, center-focus {
  font-family: var(--nunito);
  font-size: var(--other-font-size);
}

.sticky-follow{
  padding-top: 2rem;
  color: #ff8066;
  position: sticky;
  top: 50vh;
  text-align: center;
  transform: translateY(-50%);
  
}

center-focus{
  padding: 2rem 0;
  color: #FFFFFF;
  opacity: .2;
  transition: opacity .3s;
}

center-focus[centered]{
  opacity: 1;
}

@media only screen and (max-width: 550px) {
  html{
    --header-font-size: 36px;
    --other-font-size: 24px;
  }
}